- var webName = 'Lizzie Store'
- var pageName = 'home'
- var metaDescription = 'Tienda de ropa y calzado con el mejor estilo'
- var nav = ['home','store','faqs']
- var menu = ['mujer','hombre','niña','niño','accesorios','calzado']
- var oferta = [
    'https://images.pexels.com/photos/247204/pexels-photo-247204.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
    'https://images.pexels.com/photos/461646/pexels-photo-461646.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
    'https://images.pexels.com/photos/852860/pexels-photo-852860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
    'https://images.pexels.com/photos/972995/pexels-photo-972995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
    'https://images.pexels.com/photos/1375849/pexels-photo-1375849.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
  ]
- var categories = [
    {
      name: 'mujer',
      url: 'pages/woman.html',
      image: 'https://images.pexels.com/photos/413841/pexels-photo-413841.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
      alt: 'ropa para mujer',
    },
    {
      name: 'hombre',
      url: 'pages/man.html',
      image: 'https://images.pexels.com/photos/1306246/pexels-photo-1306246.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940',
      alt: 'ropa para hombre',
    },
    {
      name: 'niña',
      url: 'pages/girl.html',
      image: 'https://images.pexels.com/photos/160933/girl-rabbit-friendship-love-160933.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
      alt: 'ropa para niña',
    },
    {
      name: 'niño',
      url: 'pages/boy.html',
      image: 'https://images.pexels.com/photos/101537/baby-boy-hat-covered-101537.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
      alt: 'ropa para niño',
    },
    {
      name: 'accesorios',
      url: 'pages/accesories.html',
      image: 'https://images.pexels.com/photos/1460838/pexels-photo-1460838.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
      alt: 'accesorios para vestir',
    },
    {
      name: 'calzado',
      url: 'pages/shoes.html',
      image: 'https://images.pexels.com/photos/292999/pexels-photo-292999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940',
      alt: 'calzado para mujeres, hombres, niñas y niños',
    },
  ]